@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); 

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #6b6a6a, #1a1a1a); /* Dark and gray background */
    font-family: 'Fredoka One', cursive; /* Updated font-family */
    animation: backgroundAnimation 8s ease-in-out infinite;
}

@keyframes backgroundAnimation {
    0% {
        background: linear-gradient(135deg, #6b6a6a, #1a1a1a);
    }
    50% {
        background: linear-gradient(135deg, #1a1a1a, #6b6a6a);
    }
    100% {
        background: linear-gradient(135deg, #6b6a6a, #1a1a1a);
    }
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

form {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    width: 300px; /* Set a fixed width for the form */
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
}

input {
    width: 100%; /* Ensure input fields take the full width of the form */
    padding: 10px 0px 10px 10px;
    border: 10px;
    border-radius: 5px;
    background: rgba(119, 118, 119, 0.8);
    font-size: 16px;
    font-family: 'Fredoka One', cursive; /* Updated font-family */
}

button {
    width: 100%; /* Ensure the button takes the full width of the form */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #6e8efb;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #a777e3;
}

@keyframes jiggle {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    75% { transform: rotate(3deg); }
}

.jiggle {
    animation: jiggle 2s ease-in-out infinite;
    animation-delay: 2s;

}